<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wjm.licaihelper">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CR7RKIUKfLQBNwL3sAgHoHd1T0LAoYvM" />
        <activity android:name=".WelcomeActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".CallAlarm"></receiver>
        <activity android:name=".LiCaiActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".JizhangActivity"></activity>
        <activity android:name=".ShouzhiActivity"></activity>
        <activity android:name=".BaobiaoActivity"></activity>
        <activity android:name=".YuyinActivity"></activity>
        <activity android:name=".YusuanActivity"></activity>
        <activity android:name=".ZujiActivity"></activity>
        <activity android:name=".TixingActivity"></activity>
        <activity android:name=".AddTitleActivity"
            android:theme="@style/Theme.FloatActivity"></activity>
        <activity android:name=".BianqianActivity"></activity>
        <activity android:name=".ShezhiActivity"></activity>
        <activity android:name=".JianyiActivity"></activity>
        <activity android:name=".addTixingActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".shezhi.ShouruKmActivity"></activity>
        <activity android:name=".shezhi.AboutActivity"></activity>
        <activity android:name=".shezhi.ZhichuKmActivity"></activity>
        <activity android:name=".shezhi.ZhanghuActivity"></activity>
        <activity android:name=".shezhi.TixingShezhiActivity"></activity>
        <activity android:name=".PieChartActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".JisuanActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".DEBJDetailActivity"></activity>
        <activity android:name=".DEBXDetailActivity"></activity>
        <activity android:name=".bianqian.AtyEditNote"></activity>
        <activity android:name=".bianqian.AtyPhotoViewer"></activity>
        <activity android:name=".bianqian.AtyVideoViewer"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>
